.custom-button {
  font-size: 1rem;
  width: 100%;
  padding: .5rem;
  margin-top: 1rem;
  background: #040222;
  color: #fafafa;

  &--google {
    background: #113ae9
  }

  &--card {
    color: #040222;
    background: #fafafa;
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 5%;
    transition: .1s;

    &:hover {
      background: #040222;
      color: #fafafa;
    }
  }
}