@import '../../styles-variables/variables';

.navigation-bar {


  color: $common-text-color;

  position: fixed;
  height: 2rem;

  top: 0;

  display: flex;
  justify-content: space-between;

  width: 100vw;

  z-index: 10;

  background: linear-gradient(to top, #69161600, $base-color-pop);
  transition: .3s;

  &:hover {
    background-color: $base-color-pop;
  }


  &__left,
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__left--logo,
  &__right--cart,
  &__right--sign-in,
  &__right--sign-up
  {
    font-size: .7rem;
    height: 80%;
    padding: 0 .4rem;
    text-align: center;

    & > a {
      color: $common-text-color;
    }
  }

  &__left--logo {
    padding-left: 1rem;
  }

  &__right--sign-up{
    margin-right: 1rem;

    & > a {
      color: $common-text-color;
    }
  }

  &__right--sign-out {
    font-size: .5rem;
  }

}