.navigation-bar {
  position: fixed;
  border-radius: 5rem;
  top: .5rem;
  left: 2vw;
  width: 96vw;
  height: 3rem;

  display: flex;
  justify-content: space-between;


  z-index: 10;

  /* Glass effect */
  background: linear-gradient(to right bottom, #cfcfcfdd, #cfcfcf99);

  box-shadow: #00000020 0 .5rem 2rem 0;

  @media screen and (min-width: 800px) {
    width: 90vw;
    height: 2rem;


    left: 5vw;
    top: 1rem;
  }

  &__left,
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__left--logo,
  &__right--cart,
  &__right--sign-in,
  &__right--sign-up {
    font-size: .7rem;
    height: 80%;
    padding: 0 .4rem;
    text-align: center;

    & > a {
      color: black;
    }
  }

  &__left--logo {
    padding-left: 1rem;
  }

  &__right--sign-up {
    margin-right: 1rem;
    border-radius: 5rem;
    background-color: #113ae9;
    color: #ffffff;
    min-width: 5rem;

    & > a {
      color: white;
    }
  }

  &__right--sign-in {
    font-size: .5rem;
    color: #303030;
    & > a {
      color: #303030;
    }
  }

}