.cart-dropdown {
  top: 2.2rem;
  right: 0;
  position: absolute;
  width: 15rem;
  padding: .5rem;

  background: #cfcfcf;
  box-shadow: #00000020 0 .5rem 2rem 0;


  &__cart-items {
    max-height: 70vh;
    overflow-y: scroll;
  }
}