@import '../../styles-variables/variables';

.cart-dropdown {
  top: 1.5rem;
  right: 0;
  position: absolute;
  width: 15rem;
  padding: .5rem;
  margin: 1rem;

  background: $base-color-pop;


  &--empty-message {
    color: $common-text-color;
  }

  &__cart-items {
    height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
  }
}