.card {
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;


  position: relative;


  @media screen and (min-width: 600px) {
    margin-left: 1%;
    &:nth-child(1) {
      margin-left: 0;
    }
  }

  &:hover .hide {
    visibility: visible;
  }

  &:hover .fade {
    background-color: #00001900;
    opacity: .4;

  }

  &--button {
    position: absolute;
    bottom: 1rem;
    background-color: #cfcfcf;
    padding: .5rem;
    width: 80%;
    left: 10%;
  }

  &__image-container {
    overflow: hidden;
    height: 50vh;
    min-height: 14rem;
    background-color: black;

    &--image {
      height: 50vh;
      min-height: 14rem;
      width: 100%;
      object-fit: cover;
    }
  }

  &__description {
    position: absolute;
    color: white;
    left: 10%;
    top: 1rem;
  }
}

.hide {
  visibility: hidden;
}

.fade {
  opacity: 1;
  transition: .3s;
}
