.sign-in,
.sign-up {

  position: absolute;
  display: flex;
  flex-direction: column;

  top: 4rem;
  left: 5vw;
  width: 90vw;

  padding: 1rem;

  background-color: #fafafa;

  box-shadow: #909090aa 0px 10px 36px 0px, #9090900c 0px 0px 0px 1px;


  @media screen and (min-width: 800px) {
    width: 15rem;
    left: calc(50% - (15rem / 2));
  }

  &--title {
    font-size: 1rem;
  }

  &--subtitle {
    font-size: 1rem;
    margin-top: 1rem;
    color: #505050;
    position: relative;
    text-align: center;

    &:before, &:after {
      position: absolute;
      top: 51%;
      width: 40%;
      height: 1px;
      content: '\a0';
      background-color: #cacacaaa;
    }

    &:before {
      text-align: right;
      left: 0;
    }

    &:after {
      right: 0;
    }

  }

  &--close {
    position: absolute;
    font-size: 1rem;
    text-align: center;
    right: 1rem;
  }

  &--status {
    color: red;
    font-size: .8rem;
    &--hidden {
      visibility: hidden;
      display: none;
    }
  }

}
