@import "../../styles-variables/variables";

.checkout-item {
  & img {
    max-width: 5rem;
  }
  margin: .2rem 0;
  display: grid;
  grid-template-columns: 40% 30% 15% 15% 5%;

  @media screen and (min-width: 600px) {
    grid-template-columns: 25% 45% 15% 15% 5%;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 15% 35% 15% 15% 5%;
  }

  color: $common-text-color;

  &--quantity {
  }

  &--arrow {
    padding: 0 .5rem;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

}