@import "../../styles-variables/variables";

.checkout-page {
  min-height: 100%;
  width: 80%;
  margin: 4rem 10%;
  &__header {
    display: flex;
    &__block {
      color: white;
      flex: 1;

    }
  }

  &__items {
    display: grid;
    grid-template-columns: auto ;

  }

  &__total {
    color: $common-text-color;
  }

  &__test-warning {
    padding: 1em 0;
    color: red;
  }
}