@import '../../styles-variables/variables';

.call-to-action {
  max-width: 15rem;
  flex-shrink: 1;

  font-size: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;

  font-weight: bold;

  color: $base-color;
  background-color: $highlight-color-2;
}
