.cart-item {
  display: flex;
  align-items: center;

  &--image {
    flex: 1;
    max-width: 2rem;
  }

  & * {
    margin: .5rem .2rem;
  }

  &__details {
    flex: 2;

    &--price {
      font-size: .8rem;
    }
  }



}